.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  text-decoration: none;
  width: 100%;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.footer__link:hover {
  color: rgba(157, 157, 157, 0.8);
}

@media screen and (max-width: 768px){
  .footer__link {
    font-size: 14px;
    line-height: 17px;
  }
}