@font-face {
  font-family: 'Libre Franklin';
  src: local('Libre Franklin'), local('LibreFranklin-Regular'), url('Librefranklin.woff2') format('woff2'), url('Librefranklin.woff') format('woff'), url('Librefranklin.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'), url('Librefranklinsemibold.woff2') format('woff2'), url('Librefranklinsemibold.woff') format('woff'), url('Librefranklinsemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'), url('Librefranklinbold.woff2') format('woff2'), url('Librefranklinbold.woff') format('woff'), url('Librefranklinbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}